body {
  margin: 0;
  font-family: sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dark {
  background: #0f2f2f;
  color: white;
}

.green {
  background: #2f4f3f;
  color: white;
}

.box, .viewer-box {
  background: #111;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
}

textarea {
  width: 100%;
  height: 120px;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #00b3ff;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.admin-list {
  max-width: 600px;
  margin: auto;
}

.admin-item {
  background: #222;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.controls button {
  margin: 0 5px;
}
